.red_button{
    cursor:pointer;
    margin-bottom: 60px;margin:5px;
    height:40px;width:250px;
    color:white;
    background-color:red;
    box-shadow: 0px 15px rgb(109, 0, 0);
    border-radius: 15px;
    transition-duration: 0.1s;
    font-size:15px;}
.red_button:hover{
    transform: translateY(-1px);
    box-shadow: 0px 16px rgb(159, 0, 0);
    background-color:red;
    }
.red_button:active{
    background-color:rgb(225, 0, 0);
    transform: translateY(10px);
    box-shadow: 0px 5px rgb(159, 0, 0);}
#noneButton{

    margin-left: 50px;
    margin-right: 50px;
}
.blue_button{
    cursor:pointer;
    margin-bottom: 60px;margin:5px;
    height:40px;width:250px;
    color:white;
    background-color:blue;
    box-shadow: 0px 15px rgb(0, 0, 109);
    border-radius: 15px;
    transition-duration: 0.1s;
    font-size:15px;}
.blue_button:hover{
    transform: translateY(-1px);
    box-shadow: 0px 16px rgb(0, 0, 159);
    background-color:blue;}
.blue_button:active{
    background-color:rgb(0, 0, 225);
    transform: translateY(10px);
    box-shadow: 0px 5px rgb(0, 0,109);}
    .green_button{
        cursor:pointer;
        margin-bottom: 60px;margin:5px;
        height:40px;min-width:150px;
        color:black;
        font-size: 15px;
        background-color:rgb(0, 255, 0);
        box-shadow: 0px 15px rgb(0, 159, 0);
        border-radius: 15px;
        transition-duration: 0.1s;}
    .green_button:hover{
        transform: translateY(-1px);
        box-shadow: 0px 16px rgb(0, 159, 0);
        background-color:rgb(0, 255, 0);}
    .green_button:active{
        background-color:rgb(0, 225, 0);
        transform: translateY(10px);
        box-shadow: 0px 5px rgb(0, 109,0);}
.light_wrapper{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding-top:10px;
    box-shadow:50px 0px grey;
    height: 1000px;
    width: 1200px;
    margin:auto;
    border: 6px single black;
    border-radius: 15px;
    text-align: center;
    background-color: lightgray;


}
a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: white;
    font-family: Arial;
    font-size: 12px;
    text-shadow: black 1px 1px 1px;
    text-decoration: none;
    font-weight: bold;
    image-rendering: pixelated;
    vertical-align: middle;
}
